.cate{
    position: relative;
    top: 220px;
    display: flex;
}

.cate_l{
    width: 700px;
    background-color: azure;
}

.cate_l_ad img{
    width: 700px;
    height: 150px;
}

.cate_l_news{
    background-color: rgb(250, 250, 250);
    display: flex;
    height: 45px;
    border: 1px solid rgb(230, 230, 230);
}

.cate_l_news_main{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.cate_l_news_main a{
    color: rgb(51, 47, 47);
    text-decoration-line: none;
    text-decoration-color: none;
}


.cate_l_news_menu{
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    left: 90px;
}

.cate_l_news_menu a{
    color: rgb(51, 47, 47);
    text-decoration-line: none;
    text-decoration-color: none;
}

.cate_l_news_menu ul{
    list-style: none;
    display: flex;
    font-size: 12px;
    
}

.cate_l_news_menu li{
    padding: 3px;
}

.cate_r{
    position: relative;
    left: 50px;
    width: 350px;
    background-color: blanchedalmond;
}

.test{
    position: relative;
    top: 2000px;
}