*{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color: rgb(148, 131, 131);
    margin-left: 20%; 
    margin-right: 20%;
    margin-top: 0;
}
.head{
    background-color: aquamarine;
    top: 0;
}
.high{
    position: fixed;
    margin-top: none;
    background-color: aqua;
    left: 20%;
    right: 20%;
}
.high_r{
    font-size: 1px;
    background: yellow;
    padding-right: 0%;
    padding-top: 0%;
    display: flex;
    right: 0;
}
.high_r ul{
    justify-content: flex-end;
    display: flex;
    list-style: none;
    right: 5%;
    padding-right: 0%;
}

.high_r li {
    padding: 6px 10px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);   
    transition: all 0.1s ease-in-out;
    margin-right: 20px;
}