*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: rgb(255, 255, 255);
    margin-left: auto; 
    margin-right: auto;
    width: 1100px;
    margin-top: 0;
    margin-bottom: 0;
}
.head{
    background-color: rgb(255, 255, 255);
    top: 0;
    position: fixed;
}
.high{
    position: fixed;
    margin-top: none;
    background-color: rgb(255, 255, 255);
    height: 170px;
    width: 1100px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.high_r{
    background: rgb(255, 255, 255);
    display: flex;
    position: relative;
    width: auto;
    height: auto;
}

.high_r a{
    color: rgb(105, 105, 105);
    text-decoration-line: none;
    text-decoration-color: none;
}

.high_r ul{
    font-size: 9px;
    margin-left: auto;
    display: flex;
    list-style: none;
}

.high_r li {
    padding: 1px 5px ;
    background-color: rgb(255, 255, 255);   
}

.high_sear{
    position: relative;
    top: 35px;
    background-color: rgb(255, 255, 255);
    width: 1000px;
    height: 50px;
    display: flex;
    left: 10;
}
.high_sear_logo{
    position: relative;
    margin-top: auto;
    background-color: rgb(255, 255, 255);
}
.high_sear_logo img{
    width:50px;
    height:45px;
    top: 5px;
    position: relative;
}
.high_sear_logo a{
    font-size: 39px;
    color: rgb(0, 199, 60);
    text-decoration-line: none;
    text-decoration-color: none;
    position: relative;
}
.high_sear_typing input{
    width: 550px;
    height: 45px;
    border: 4.5px solid rgb(0, 199, 60);
    position: relative;
    bottom: 20px;
    left: 18px;
}
.high_sear_typing img{
    width:50px;
    height:53px;
    margin: 0%;
    position: relative;
    left: 10px;
    top: 1px;
}
input
,button{
    border: 0;
    outline: 0;
}
