.line_all{
    position: fixed;
    z-index: 14;
}
.line1{
    width: 200000px;
    height: 1px;
    background-color: rgb(173, 173, 173);
    top: 160px;
    position: relative;
    right: 100000px;
}
.line2{
    width: 200000px;
    height: 1px;
    background-color: rgb(173, 173, 173);
    top: 200px;
    position: relative;
    right: 100000px;
}
.navigation{
    position: relative;
    top: 170px;
    z-index: 5;
    background-color: rgb(255, 255, 255);
    display: flex;
    width: 1100px;
    height: 30px;
}
.navigation_menu{
    background: rgb(255, 255, 255);
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    flex-direction: row;
}
.navigation_menu ul{
    display: flex;
    list-style: none;
    font-size: 14px;
}

.navigation_menu a{
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    text-decoration-color: none;
}

.navigation_menu li{
    padding: 1px 5px ;
    background-color: rgb(255, 255, 255); 
}

.navigation_weather{
    background: rgb(255, 255, 255);
    display: flex;
    position: relative;
    width: auto;
    height: auto;
    flex-direction: row;
    margin-left: auto;
}

.navigation_weather ul{
    display: flex;
    list-style: none;
    font-size: 14px;
    margin-left: auto;
}

.navigation_weather a{
    color: rgb(117, 130, 204);
    text-decoration-line: none;
    text-decoration-color: none;
}

.navigation_weather li{
    padding: 1px 5px ;
    background-color: rgb(255, 255, 255); 
}
